<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Study Bud</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    {% include 'navbar.html' %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li></li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <!-- This allows us to create a template. Every html will render within block tag -->
    {% block content %}

    {% endblock %}
    
</body>
</html>